* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  height: 100%;
}
/*--Div container--*/
#container {
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}
/*--Header and logo--*/
header {
  padding: 5px;
  text-align: left;
  background: #064273;
  color: #FFFFFF;
}
/*--Site logo--*/
#logo {
  max-width: 25%;
}
/*--Navigation bar menu--*/
.navbar {
  overflow: hidden;
  background-color: #333;
}
/*--Navigation links--*/
.navbar a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding: 14px 16px;
}
/*--Hover over navigation links (sand color)--*/
.navbar a:hover {
  background-color: #C9C9CB;
  color: #000000;
}
/*--Active link to highlight current page--*/
#active {
  background-color: #5C7B96;
  color: #FFFFFF;
}
/*--Hide link that opens/closes navigation bar on
mobile screens--*/
.navbar .mobile-icon {
  display: none;
}
i.fa-bars {
  font-size: 1.1rem;
}
/*---Dropdown menu for Stay page--*/
.dropdown {
  float: left;
  overflow: hidden;
}
/*---Dropdown menu needs to fit inside navbar menu--*/
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #FFFFFF;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin: 0;
}
/*---Dropdown menu link styles--*/
.dropdown-pages {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/*--Links to subpages inside dropdown menu--*/
.dropdown-pages a {
  float: none;
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/*---Sand color background for navbar links and dropdown button on hover---*/
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #C9C9CB;
  color: #000000;
}
/*---Sand color background to dropdown menu links on hover--*/
.dropdown-pages a:hover {
  background-color: #C9C9CB;
  color: #000000;
}
/*---Display dropdown menu when user hovers mouse over dropdown button--*/
.dropdown:hover .dropdown-pages {
  display: block;
}
.banner {
  width: 100%;
  background-image: url('../images/hero-mobile.png');
  background-size: cover;
  background-position: right;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*--Text for hero banner image--*/
p.bannerText {
  color: #FFFFFF;
  padding: 5px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}
/*--ContentEditable element for banner paragraphs on Home and About pages--*/
[contenteditable="true"] {
  outline: none;
}
/*--ContentEditable on hover--*/
[contenteditable="true"]:hover {
  border: 2px solid #2785CD;
}
/*--Mission statement div and text--*/
.mission {
  width: 100%;
  text-align: center;
  padding: 25px 15px 0 15px;
}
p.missionText {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #000000;
  line-height: 1.4em;
}
/*--Scroll to top button--*/
#button {
  display: inline-block;
  color: #698DAB;
  opacity: .90;
  font-size: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 55px;
  right: 0;
  z-index: 1000;
  cursor: pointer;
}
#button:hover {
  color: #2785CD;
}
/*--footer--*/
.footer {
  text-align: center;
  background: #333;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #FFFFFF;
}
.footer a {
  text-decoration: none;
  color: #FFFFFF;
}
/*--hover over link--*/
.footer a:hover {
  color: #2785CD;
}
/*----------------ABOUT page -------------*/
/*--Hero banner image--*/
.banner2 {
  width: 100%;
  background-image: url('../images/about.png');
  background-size: cover;
  background-position: right;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*--Text for hero banner image--*/
p.aboutText {
  color: #FFFFFF;
  padding: 10px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  margin-top: 2px;
}
/*--Div for main content--*/
.content {
  width: 100%;
  text-align: center;
  padding: 10px 15px 0 15px;
  padding-bottom: 2.5rem;
  margin-bottom: 20px;
}
h2.content {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
/*--HR divider--*/
.divider {
  color: #333;
  opacity: 25%;
  width: 80%;
}
p.content {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  line-height:  1.4em;
}
/*--Links inside Visiting the Park paragraph--*/
p.content a {
  text-decoration: none;
  color: #2785CD;
}
p.content a:hover {
  color: #064273;
}
/*--Park hours and fees paragraph--*/
p.hours, p.fees {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height:  1.4em;
  margin-bottom: 0;
}
/*--UL for hours and fees--*/
ul.hours, ul.fees {
  list-style-type: circle;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  display: inline-block;
}
/*--Visitor Center info--*/
.visitor {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.4em;
  padding-bottom: 2.5rem;
}
p.visitor {
  padding-bottom: 10px;
}
.visitor a {
  text-decoration: none;
  color: #2785CD;
}
.visitor a:hover {
  color: #000000;
}
/*------------Stay Page---------*/
/*--Hero banner image--*/
.banner3 {
  width: 100%;
  background-image: url('../images/stay.png');
  background-size: cover;
  background-position: right;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*--Link buttons--*/
.button {
  background-color: #5C7B96;
  border: none;
  color: #FFFFFF;
  font-size: 0.9em;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  margin: 0 5px 0 5px;
  margin-bottom: 2.5rem;
  cursor: pointer;
}
.button:hover {
  background-color: #333;
}
/*----------Play Page--------*/
/*--Hero banner image--*/
.banner4 {
  width: 100%;
  background-image: url('../images/play.png');
  background-size: cover;
  background-position: right;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*---Images on Play page---*/
img.play {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 12px 0;
}
/*---------Eat Page & Subpages (Hotel, Bed & Breakfast, Camping
 and Vacation Rentals)--------*/
/*--Hero banner image--*/
.banner5 {
  width: 100%;
  background-image: url('../images/eat.jpg');
  background-size: cover;
  background-position: right;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3.eatInfo, h3.hotelInfo, h3.bedInfo, h3.campInfo, h3.vacInfo {
  font-family: 'Helvetica', sans-serif;
  color: #000000;
  padding-top: 10px;
}
/*--Food Images--*/
img.eat, img.hotels, img.bed, img.camp, img.vac {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 12px 0;
}
/*--Restaurant Info--*/
p.eatInfo, p.hotelInfo, p.bedInfo, p.campInfo, p.vacInfo {
  width: 100%;
  text-align: center;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4em;
}
/*--Phone Number Link--*/
a.eatInfo, a.hotelInfo, a.bedInfo, a.campInfo, a.vacInfo {
  text-decoration: none;
  color: #2785CD;
}
/*--Website Button link for restaurants--*/
.buttonInfo {
  width: 50%;
  background-color: #5C7B96;
  border: none;
  color: #FFFFFF;
  font-size: 0.9em;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  margin: 20px 10px 10px 10px;
  cursor: pointer;
}
.buttonInfo-last {
  width: 50%;
  background-color: #698DAB;
  border: none;
  color: #FFFFFF;
  font-size: 0.9em;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  margin: 20px 10px 0 10px;
  margin-bottom: 2.5rem;
  cursor: pointer;
}
/*---------Contact Page----------*/
/*--Contact header---*/
h2.contactInfo {
  font-family: 'Helvetica', sans-serif;
  color: #000000;
  padding-top: 20px;
}
p.contactInfo {
  width: 100%;
  text-align: justify;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4em;
}
/*--Contact Form div--*/
.contactForm {
  width: 85%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
/*--Styles for text div--*/
.text {
  border: 1px solid grey;
  margin: 8px 0;
  padding: 12px;
  border-radius: 8px;
  background: #f1f1f1;
}
.text label {
  display: block;
  text-align: left;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
.text input, .text textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
/*--Submit input button--*/
.btnSubmit {
  width: 100%;
  display: block;
  background: #5C7B96;
  padding: 14px 0;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 8px 0 8px 0;
  margin-bottom: 2.5rem;
}
/*-------------Media Queries for responsive design-----------*/
/*---Hide links (aside from Homepage) for screens < 600px wide and show
hamburger icon link that opens and closes menu--*/
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.mobile-icon {
    float: right;
    display: block;
  }
/*--Responsive class is added to navigation menu when users click on
icon, which makes the navigation links display vertically on mobile devices--*/
.navbar.responsive {position: relative;}
  .navbar.responsive a.mobile-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-pages {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/*--------Media queries for TABLET screens >= 768px wide--------*/
@media only screen and (min-width: 768px) {
  /*--Site logo--*/
  #logo {
    max-width: 20%;
  }
  /*--Navigation Menu with drop-down--*/
  .navbar a, .dropdown .dropbtn {
    padding: 16px 18px;
    font-size: 18px;
  }
  /*--Banner images---*/
  .banner, .banner2, .banner3, .banner4, .banner5 {
    height: 300px;
  }
  p.bannerText, p.aboutText {
    font-size: 1.4rem;
  }
  /*--Mission text paragraph--*/
  p.missionText {
    font-size: 1.4rem;
    padding: 15px;
  }
  /*---About button---*/
  .button {
    font-size: 1.3rem;
    width: 30%;
  }
  /*--Scroll to top button--*/
  #button {
    display: inline-block;
    color: #698DAB;
    font-size: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 0.1px;
    z-index: 1000;
    cursor: pointer;
  }
  /*---Footer---*/
  .footer p {
    font-size: 1.2rem;
  }
  /*-----About Page----*/
  /*---H2 titles throughout site---*/
  h2.content, h2.contactInfo {
    font-size: 1.6rem;
  }
  p.content, p.hours, p.fees, p.visitor {
    font-size: 1.4rem;
  }
  ul.hours, ul.fees {
    font-size: 1.4rem;
  }
  /*--Stay Page--*/
  /*--Buttons for Hotels, Bed & Breakfasts, Camping, and Vacation Rentals--*/
  .button {
    margin: 0 15px 0 15px;
    margin-bottom: 2.5rem;
  }
  /*---Styles for Hotel, Bed, Camping, and Vacation subpages plus Eat, Play, and Contact pages--*/
  /*---H3 titles for content---*/
  h3.eatInfo, h3.hotelInfo, h3.bedInfo, h3.campInfo, h3.vacInfo {
    font-size: 1.4rem;
  }
  /*--Images for each item on subpages---*/
  img.eat, img.hotels, img.bed, img.camp, img.vac, img.play {
    max-width: 100%;
    padding: 10px;
  }
  /*--Paragraph styles for description of items on subpages--*/
  p.eatInfo, p.hotelInfo, p.bedInfo, p.campInfo, p.vacInfo, p.contactInfo {
    font-size: 1.4rem;
  }
  /*--Anchor styles for phone numbers on subpages--*/
  a.eatInfo, a.hotelInfo, a.bedInfo, a.campInfo, a.vacInfo {
    font-size: 1.4rem;
  }
  /*--Button info link for websites--*/
  .buttonInfo, .buttonInfo-last {
    font-size: 1.3rem;
    width: 30%;
  }
/*--Contact Form on Contact Page--*/
p.contactInfo {
  text-align: center;
  line-height: 1.4em;
}
#contactForm {
  padding: 20px 40px 0 40px;
}
.text {
  margin-bottom: 10px;
}
.text label {
  font-size: 1.2rem;
}
.btnSubmit {
  font-size: 1.3rem;
  padding: 20px 0;
}
}
/*--------Media queries for DESKTOP screens >= 1000px wide--------*/
@media only screen and (min-width: 1000px) {
  /*--Div container--*/
  #container {
    width: 100%;
}
/*--Site logo--*/
#logo {
  max-width: 8%;
}
/*--Hero banner image for homepage desktop--*/
.banner {
  background-image: url('../images/hero.png');
  height: 400px;
}
/*--Banner Text for Home and About Pages--*/
p.bannerText, p.aboutText {
  font-size: 1.4rem;
}
/*--Mission text--*/
p.missionText {
  font-size: 1.3rem;
}
/*--Link buttons--*/
.button {
  width: 10%;
}
.button:hover {
  background-color: #333;
}
/*--Scroll to top button--*/
#button {
  display: inline-block;
  color: #5C7B96;
  font-size: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  cursor: pointer;
}
/*------ABOUT page ----*/
/*--Hero banner images for About, Stay, Play, and Eat Pages--*/
.banner2, .banner3, .banner4, .banner5 {
  height: 400px;
}
/*--Adjust width and margins for Content div--*/
.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/*--Change font size for paragraphs on About page--*/
p.content, p.hours, p.fees, p.visitor {
  font-size: 1.3rem;
}
/*--Unordered list for hours and fees on About page--*/
ul.hours, ul.fees {
  margin-bottom: 20px;
  font-size: 1.3rem;
}
/*--Stay Page--*/
.button {
  width: 16%;
  margin: 0 150px 0 150px;
  margin-bottom: 2.5rem;
}
/*---Styles for Hotel, Bed, Camping, and Vacation subpages plus Eat, Play, and Contact pages--*/
/*--Images for each item on subpages---*/
img.eat, img.hotels, img.bed, img.camp, img.vac, img.play {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
/*--Paragraph styles for description of items on subpages--*/
p.eatInfo, p.hotelInfo, p.bedInfo, p.campInfo, p.vacInfo, p.contactInfo {
  font-size: 1.3rem;
  padding: 5px 20px 5px 20px;
}
/*--Anchor styles for phone numbers on subpages--*/
a.eatInfo, a.hotelInfo, a.bedInfo, a.campInfo, a.vacInfo {
  font-size: 1.3rem;
}
/*--Button info link for websites--*/
.buttonInfo, .buttonInfo-last {
  font-size: 1.3rem;
  width: 20%;
}
.buttonInfo:hover, .buttonInfo-last:hover {
  background-color: #333;
}
/*--Contact Page--*/
form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/*--Submit button--*/
.btnSubmit {
  width: 30%;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}
.btnSubmit:hover {
  background-color: #333;
}
}
